<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Members</title>
  </head>
  <body>
    BoredBoard |
    <a href="/dashboard">Home</a> |
    <a href="{% url "showmember" id=member.id %}">{{ member.firstname }}</a> |
    <a href="{% url "showmembers" %}">Members</a> |
    <a href="/chats">Chat</a> |
    <a href="{% url "logout" %}">Logout</a>

    <div class="header">
    {% if member.level == "admin" %}
    <h2>Manage Members</h2>
    <a href="{% url "adminadd" %}">Add New</a>
    {% else %}
    <h2>All Members</h2>
    {% endif %}
    </div>
    <br>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Joined</th>
          <th>Permissions</th>
          {% if member.level == "admin" %}
          <th>Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for person in people %}
        <tr>
          <td>{{ person.id }}</td>
          <td><a href="{% url "showmember" id=person.id %}">{{ person.firstname}} {{ person.lastname }}</a></td>
          <td>{{ person.email }}</td>
          <td>{{ person.created_at }}</td>
          <td>{{ person.level }}</td>
          {% if member.level == "admin" %}
          <td>
            <form action="{% url "editmember" id=person.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ person.id }}">
              <button type="submit">Edit</button>
            </form>
            <form action="{% url "deletecheck" id=person.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ person.id }}">
              <button type="submit">Delete</button>
            </form>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
