<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Practice</title>
  </head>
  <body>
    <h2>Add a Practice:</h2>

      <p> Rep Group : {{ repgroup.name }} </p>

      <form action="{% url 'add_practice' %}" method="post">
      {% csrf_token %}

      <label for="name">Name:</label>
      <input type="text" name="name" value="">

      <label for="practice_email">Email:</label>
      <input type="text" name="practice_email" value="">

      <label for="practice_phone">Phone:</label>
      <input type="text" name="practice_phone" value="">

      <label for="address">Address:</label>
      <input type="text" name="address" value="">

      <label for="city">City:</label>
      <input type="text" name="city" value="">

      <label for="state">State:</label>
      <input type="text" name="state" value="">

      <label for="zipcode">Zip:</label>
      <input type="text" name="zipcode" value="">

      <label for="taxid">Tax ID:</label>
      <input type="text" name="taxid" value="">

      <label for="comments">Comments:</label>
      <input type="text" name="comments" value="">

      <input type="hidden" name="repgroupid" value="{{ repgroup.id }}">
      <button type="submit">Add Practice</button>
      </form>

  </body>
</html>
